<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Bus Database</title>
</head>
<body>

    <a href="/">
        <button>Back</button>
    </a>

    <h1 style="text-align: center;">Bus Routes</h1>

    {% if buses|length < 1 %}
        <h4 style="text-align: center;">There are no buses. Add buses into the database</h4>
    {% else %}

    <table>
        <tr>
            <th>BusID</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        {% for bus in buses %}
            <tr>
                <td>{{ bus.id }}</td>
                <td>{{ bus.start }}</td>
                <td>{{ bus.end }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>