<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Naatu Navigator</title>
</head>
<body>
    <h1>Naatu Navigator</h1>

    <div class=""form></div>
        <form action="/" method="POST">
            <h2>Search</h2>
            Starting Point <input type="text" name="start_loc" id="start_loc">
            <br>
            Destination <input type="text" name="end_loc" id="end_loc">
            <br>
            <a href="/route/">
                <input type="submit" value="Search">
            </a>
        </form>
    </div>

</body>
</html>